a {
  text-decoration: none;
}
.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
.item:not(:last-child) {
  margin-right: 15px;
}
.heading {
  color: black;
}
